body{
  background:#1b1b2f;
  color:#ffffff;
  font-family:'Press Start 2P', cursive;
  text-align:center;
}

h1{
  color:#ffcc00;
  margin-bottom:40px;
}

.container{
  width:600px;
  margin:auto;
}

input{
  display:block;
  width:100%;
  padding:10px;
  margin:10px 0;
  border:3px solid #ffcc00;
  background:#162447;
  color:white;
  font-family:'Press Start 2P', cursive;
}

button{
  padding:10px 20px;
  margin:10px;
  background:#ffcc00;
  border:none;
  cursor:pointer;
  font-family:'Press Start 2P', cursive;
}

button:hover{
  background:#ffd633;
}

.movie-card{
  background:#162447;
  border:3px solid #ffcc00;
  padding:20px;
  margin:20px 0;
  text-align:left;
}

.movie-card h3{
  color:#ffcc00;
}